//general
* {
    outline: none;
}

input,
select,
textarea {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 1.3em;
    outline: none;
}

::placeholder {
    color: inherit;
}

input:-webkit-autofill[data-fill="dark"],
input:-webkit-autofill:hover[data-fill="dark"],
input:-webkit-autofill:focus[data-fill="dark"],
input:-webkit-autofill:active[data-fill="dark"] {
    -webkit-text-fill-color: $fff;
    box-shadow: 0 0 0 100px $fff inset !important;
    -webkit-box-shadow: 0 0 0 100px $dark inset !important;
}

input:-webkit-autofill[data-fill="light"],
input:-webkit-autofill:hover[data-fill="light"],
input:-webkit-autofill:focus[data-fill="light"],
input:-webkit-autofill:active[data-fill="light"] {
    -webkit-text-fill-color: $dark;
    box-shadow: 0 0 0 100px $dark inset !important;
    -webkit-box-shadow: 0 0 0 100px $fff inset !important;
}

input:-webkit-autofill[data-fill="dark-blue"],
input:-webkit-autofill:hover[data-fill="dark-blue"],
input:-webkit-autofill:focus[data-fill="dark-blue"],
input:-webkit-autofill:active[data-fill="dark-blue"] {
    -webkit-text-fill-color: $fff;
    box-shadow: 0 0 0 100px $fff inset !important;
    -webkit-box-shadow: 0 0 0 100px $dark-blue inset !important;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: inherit;
    font-size: 1.3em;
    position: relative;
    &:focus {
        outline: none!important;
    }
}

//colors
.--bg-light {
    background-color: $fff;
}

.--bg-primary {
    background-color: $primary;
    color: $fff;
}

.--bg-light-grey {
    background-color: $light-grey;
    color: $dark;
}

.--bg-dark {
    background-color: $dark;
    color: $dark-contrast;
}

.--bg-light-dark {
    background-color: $ligth-dark;
    color: $dark-contrast;
}

.--bg-dark-blue {
    background-color: $dark-blue;
    color: $fff;
}

.--bg-success {
    background-color: $success;
    color: $fff;
}

.--bg-danger {
    background-color: $danger;
    color: $fff;
}

.--bg-mars {
    background: $mars;
    color: $fff;
}

.--bg-spaceshift {
    background: $spaceshift;
    color: $fff;
}

.--bg-sunset {
    background: $sunset;
    color: $fff;
}

//txt
.--light {
    color: $fff;
}

.--dark {
    color: $dark;
}

.--success {
    color: $success;
}

.--danger {
    color: $danger;
}

.--mars {
    background: $mars;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.--spaceshift {
    background: $spaceshift;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.--sunset {
    background: $sunset;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

//design
.--round {
    border-radius: 5px;
}

.--round-t {
    border-radius: 5px 5px 0 0;
}

.--round-r {
    border-radius: 0 5px 5px 0;
}

.--round-b {
    border-radius: 0 0 5px 5px;
}

.--round-l {
    border-radius: 5px 0 0 5px;
}

.--full-round {
    border-radius: 1000px;
}

//shadows
.--light-shadow {
    box-shadow: 1px 1px 9px rgba($color: #000000, $alpha: 0.1);
}

.--shadow {
    box-shadow: 1px 1px 9px rgba($color: #000000, $alpha: 0.3);
}

.--dark-shadow {
    box-shadow: 1px 1px 12px #0a0a0a;
}

//line
.--line-bottom {
    border-bottom: solid 1px $dark;
}

.--light-line-bottom {
    border-bottom: solid 1px $dark-contrast;
}

//cursor
.--cursor {
    cursor: pointer;
}

//sticky
.--sticky-top {
    position: sticky;
    top: 0;
}

.--sticky-bottom {
    position: sticky;
    bottom: 0;
}

//fixed
.--fixed-tl {
    position: fixed;
    left: 0;
    top: 0;
}

.--fixed-tr {
    position: fixed;
    right: 0;
    top: 0;
}

.--fixed-bl {
    position: fixed;
    left: 0;
    bottom: 0;
}

.--fixed-br {
    position: fixed;
    right: 0;
    bottom: 0;
}

//neumorphisme
.--light-neum {
    box-shadow: 5px 5px 3px #f5f5f5, -5px -5px 2px #ffffff;
}

.--dark-neum {
    box-shadow: 5px 5px 15px #090909, -5px -5px 15px #1b1b1b;
}

.--dark-blue-neum {
    box-shadow: 5px 5px 15px #061a22, -5px -5px 15px #0a2832;
}

.--danger-neum {
    box-shadow: 5px 5px 8px #e82a40, -5px -5px 8px #ff3e58;
}

.--success-neum {
    box-shadow: 5px 5px 8px #2ca05f, -5px -5px 8px #32b86d;
}

//square
.--sqr-5 {
    width: 5vw;
    height: 5vw;
}

.--sqr-8 {
    width: 8vw;
    height: 8vw;
}

.--sqr-10 {
    width: 10vw;
    height: 10vw;
}

.--sqr-12 {
    width: 12vw;
    height: 12vw;
}

.--sqr-15 {
    width: 15vw;
    height: 15vw;
}

.--sqr-20 {
    width: 20vw;
    height: 20vw;
}

.--sqr-25 {
    width: 25vw;
    height: 25vw;
}

.--sqr-30 {
    width: 30vw;
    height: 30vw;
}

@media(min-width: 576px) {
    .--sqr-sm-5 {
        width: 5vw;
        height: 5vw;
    }
    .--sqr-sm-8 {
        width: 8vw;
        height: 8vw;
    }
    .--sqr-sm-10 {
        width: 10vw;
        height: 10vw;
    }
    .--sqr-sm-12 {
        width: 12vw;
        height: 12vw;
    }
    .--sqr-sm-15 {
        width: 15vw;
        height: 15vw;
    }
    .--sqr-sm-20 {
        width: 20vw;
        height: 20vw;
    }
    .--sqr-sm-25 {
        width: 25vw;
        height: 25vw;
    }
    .--sqr-sm-30 {
        width: 30vw;
        height: 30vw;
    }
}

@media(min-width: 768px) {
    .--sqr-md-5 {
        width: 5vw;
        height: 5vw;
    }
    .--sqr-md-8 {
        width: 8vw;
        height: 8vw;
    }
    .--sqr-md-10 {
        width: 10vw;
        height: 10vw;
    }
    .--sqr-md-12 {
        width: 12vw;
        height: 12vw;
    }
    .--sqr-md-15 {
        width: 15vw;
        height: 15vw;
    }
    .--sqr-md-20 {
        width: 20vw;
        height: 20vw;
    }
    .--sqr-md-25 {
        width: 25vw;
        height: 25vw;
    }
    .--sqr-md-30 {
        width: 30vw;
        height: 30vw;
    }
}

@media(min-width: 992px) {
    .--sqr-lg-5 {
        width: 5vw;
        height: 5vw;
    }
    .--sqr-lg-8 {
        width: 8vw;
        height: 8vw;
    }
    .--sqr-lg-10 {
        width: 10vw;
        height: 10vw;
    }
    .--sqr-lg-12 {
        width: 12vw;
        height: 12vw;
    }
    .--sqr-lg-15 {
        width: 15vw;
        height: 15vw;
    }
    .--sqr-lg-20 {
        width: 20vw;
        height: 20vw;
    }
    .--sqr-lg-25 {
        width: 25vw;
        height: 25vw;
    }
    .--sqr-lg-30 {
        width: 30vw;
        height: 30vw;
    }
}

@media(min-width: 1200px) {
    .--sqr-xl-5 {
        width: 5vw;
        height: 5vw;
    }
    .--sqr-xl-8 {
        width: 8vw;
        height: 8vw;
    }
    .--sqr-xl-10 {
        width: 10vw;
        height: 10vw;
    }
    .--sqr-xl-12 {
        width: 12vw;
        height: 12vw;
    }
    .--sqr-xl-15 {
        width: 15vw;
        height: 15vw;
    }
    .--sqr-xl-20 {
        width: 20vw;
        height: 20vw;
    }
    .--sqr-xl-25 {
        width: 25vw;
        height: 25vw;
    }
    .--sqr-xl-30 {
        width: 30vw;
        height: 30vw;
    }
}

// side boders
.--bl-dark {
    border-left: solid 4px $dark;
}

.--bl-light {
    border-left: solid 4px $fff;
}

.--bl-success {
    border-left: solid 4px $success;
}

.--bl-danger {
    border-left: solid 4px $danger;
}

.--br-dark {
    border-right: solid 4px $dark;
}

.--br-light {
    border-right: solid 4px $fff;
}

.--br-success {
    border-right: solid 4px $success;
}

.--br-danger {
    border-right: solid 4px $danger;
}

.--bt-dark {
    border-top: solid 4px $dark;
}

.--bt-light {
    border-top: solid 4px $fff;
}

.--bt-success {
    border-top: solid 4px $success;
}

.--bt-danger {
    border-top: solid 4px $danger;
}

.--bb-dark {
    border-bottom: solid 4px $dark;
}

.--bb-light {
    border-bottom: solid 4px $fff;
}

.--bb-success {
    border-bottom: solid 4px $success;
}

.--bb-danger {
    border-bottom: solid 4px $danger;
}

// glassmorphism
.--glass {
    backdrop-filter: blur( 2px);
    -webkit-backdrop-filter: blur( 1%);
    background: rgba($color: $dark, $alpha: 0.4);
    box-shadow: inset 0px 0px 20px rgba($color: $dark, $alpha: 0.2), 1px 1px 9px rgba($color: #000000, $alpha: 0.3);
    text-shadow: 1px 1px 9px rgba($color: #000000, $alpha: 0.5);
}

//overflow
.--overflow-h {
    overflow: hidden;
}

.--overflow-s {
    overflow: scroll;
}