//Color
$fff: #fff;
$light-grey: #fafafa;
$primary: #1a73e8;
$dark: #111;
$ligth-dark: #1a1a1a;
$dark-contrast: #eee;
$light-grey-contrast: #555;
$success: #2FAC66;
$danger: #F92D45;
$dark-blue: #08212A;
$mars: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
$spaceshift: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
$sunset: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);